<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SERVER_HOST_PROTOCOL_IP_PORT" value=""/>
    <add key="URL_UPDATE" value="/static/PDADesktop/Release" />
    <add key="API_SERVER_CONEXION_STATUS" value="/pdaexpress/pda-api/serverConexionStatus.action" />
    <add key="API_SYNC_ACTUAL" value="/pdaexpress/pda-api/sincronizacionActual.action" />
    <add key="API_SYNC_ANTERIOR" value="/pdaexpress/pda-api/sincronizacionAnterior.action" />
    <add key="API_SYNC_SIGUIENTE" value="/pdaexpress/pda-api/sincronizacionSiguiente.action" />
    <add key="API_SYNC_ULTIMA" value="/pdaexpress/pda-api/sincronizacionUltima.action" />
    <add key="API_SYNC_ID_LOTE" value="/pdaexpress/pda-api/getIdLoteActual.action" />
    <add key="API_GET_INFO_VERSION" value="/pdaexpress/softPDA/getInfoVersion.action" />
    <add key="API_GET_TIPOS_AJUSTES" value="/pdaexpress/ajustes/getTiposDeAjustes.action"/>
    <add key="API_BUSCAR_RECEPCIONES_INFORMADAS" value="pdaexpress/archivos/recepcionesInformadas.action"/>
    <add key="API_MAESTRO_ARTICULOS" value="pdaexpress/archivos/buscarMaestroART.action"/>
    <add key="URL_COOKIE" value="%APPDATA%/Imagosur/PDADesktop/Data/"/>

    <add key="DEVICE_RELPATH_DATA" value="/PDAExpress/Data"/>
    <add key="DEVICE_RELPATH_VERSION" value="/PDAExpress/LookUp"/>
    <add key="DEVICE_RELPATH_PROGRAM" value="/PDAExpress"/>
    <add key="DEVICE_RELPATH_FILENAME" value="PDAMoto.exe"/>
    <add key="DEVICE_FILE_AJUSTES" value="/AJUSTES.DAT"/>
    <add key="CLIENT_PATH_DATA" value="%PUBLIC%/Documents/PDAEXPRESS/data"/>
    <add key="CLIENT_PATH_BIN" value="client.path.bin=%PUBLIC%/Documents/PDAEXPRESS/bin"/>
    <add key="CLIENT_PATH_VERSION" value="client.path.version=%PUBLIC%/Documents/PDAEXPRESS/bin"/>
  </appSettings>
</configuration>