<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="DEVICE_HANDLER" value="motoAdapter"/>
        <!--
        <add key="DEVICE_HANDLER" value="desktopAdapter"/>
        -->

        <add key="SERVER_HOST_PROTOCOL_IP_PORT" value=""/>
        <add key="URL_UPDATE" value="/static/PDADesktop/Release" />
        <!-- API -->
        <add key="API_SERVER_CONEXION_STATUS" value="/pdaexpress/pda-api/serverConexionStatus.action" />
        <add key="API_SYNC_ACTUAL" value="/pdaexpress/pda-api/sincronizacionActual.action" />
        <add key="API_SYNC_ANTERIOR" value="/pdaexpress/pda-api/sincronizacionAnterior.action" />
        <add key="API_SYNC_SIGUIENTE" value="/pdaexpress/pda-api/sincronizacionSiguiente.action" />
        <add key="API_SYNC_ULTIMA" value="/pdaexpress/pda-api/sincronizacionUltima.action" />
        <add key="API_SYNC_ID_LOTE" value="/pdaexpress/pda-api/getIdLoteActual.action" />
        <add key="API_GET_INFO_VERSION" value="/pdaexpress/pda-api/getInfoVersiones.action" />
        <add key="API_GET_TIPOS_AJUSTES" value="/pdaexpress/ajustes/getTiposDeAjustes.action"/>
        <add key="API_BUSCAR_RECEPCIONES_INFORMADAS" value="/pdaexpress/archivos/recepcionesInformadasByIdLote.action"/>
        <add key="API_GET_ALL_ACCIONES" value="/pdaexpress/pda-api/getAllAcciones.action"/>
        <add key="API_GET_ACTIVIDADES" value="/pdaexpress/pda-api/getActividades.action"/>
        <add key="API_MAESTRO_URLPATH" value="/pdaexpress/archivos/buscarMaestro{0}.action"/>
        <add key="API_INFORMAR_GENESIX" value="/pdaexpress/archivos/informarDatosGX.action"/>
        <add key="API_GET_LAST_VERSION_FILE_PROGRAM" value="/pdaexpress/pda-api/getLastVersionFileProgram.action"/>
        <add key="API_GET_DEFAULT_FILE_BY_SUCURSAL" value="/pdaexpress/pda-api/getDefaultFileForDevice.action"/>
        <add key="API_DOWNLOAD_PROGRAM_FILE" value="/pdaexpress/softPDA/downloadFile.action"/>
        <add key="API_VERIFY_NEW_BATCH" value="/pdaexpress/pda-api/controlNuevoLote.action"/>
        <add key="API_CREATE_NEW_BATCH" value="/pdaexpress/pda-api/crearNuevoLote.action"/>
        <add key="API_SUBIR_ARCHIVO" value="/pdaexpress/subida/subidaArchivo.action"/>
        <add key="API_CONTROL_BLOQUEO_PDA" value="/pdaexpress/centro/controlBloqueoPDA.action"/>
        <add key="API_MODIFICAR_CARGAR_GRILLA_AJUSTES" value="/pdaexpress/modificar/cargaGrillaAjustes.action"/>
        <add key="API_MODIFICAR_ELIMINAR_AJUTE" value="/pdaexpress/modificar/eliminarAjuste.action"/>
        <add key="API_MODIFICAR_ACTUALIZAR_CONSECUTIVO" value="/pdaexpress/modificar/editAjustesConsecutivas.action"/>

        <add key="API_SET_NO_DATA_PDA" value="/pdaexpress/estados/setEPDASinDatos.action"/>
        <add key="API_SET_PENDING_PDA" value="/pdaexpress/estados/setEPDAPendiente.action"/>
        <add key="API_SET_RECEIVED_PDA" value="/pdaexpress/estados/setEPDARecibido.action"/>
        <add key="API_SET_SENT_PDA" value="/pdaexpress/estados/setEPDAEnviado.action"/>
        <add key="API_SET_ERROR_PDA" value="/pdaexpress/estados/setEPDAError.action"/>

        <add key="API_SET_NO_DATA_GX" value="/pdaexpress/estados/setEGXSinDatos.action"/>
        <add key="API_SET_PENDING_GX" value="/pdaexpress/estados/setEGXPendiente.action"/>
        <add key="API_SET_RECEIVED_GX" value="/pdaexpress/estados/setEGXRecibido.action"/>
        <add key="API_SET_SENT_GX" value="/pdaexpress/estados/setEGXEnviado.action"/>
        <add key="API_SET_ERROR_GENERAL_GX" value="/pdaexpress/estados/setEGXErrorGral.action"/>
        <add key="API_SET_ERROR_DATA_GX" value="/pdaexpress/estados/setEGXErrorDatos.action"/>
        <add key="API_SET_WAITING_GX" value="/pdaexpress/estados/setEGXEspera.action"/>

        <add key="API_SET_PENDING_GENERAL" value="/pdaexpress/estados/setEGRALPendientea.ction"/>
        <add key="API_SET_OK_GENERAL" value="/pdaexpress/estados/setEGRALOK.action"/>
        <add key="API_SET_RETRY_GENERAL" value="/pdaexpress/estados/setEGRALReintentar.action"/>
        <add key="API_SET_SEE_DETAILS_GENERAL" value="/pdaexpress/estados/setEGRALVerDetalles.action"/>
        <add key="API_SET_MODIFY_ADJUSTMENTS_GENERAL" value="/pdaexpress/estados/setEGRALModificarAjustes.action"/>
        <add key="API_SET_PRINT_GENERAL" value="/pdaexpress/estados/setEGRALImprimir.action"/>
        <add key="API_SET_ERROR_PDA_GENERAL" value="/pdaexpress/estados/setEGRALErrorPda.action"/>
        <add key="API_SET_ERROR_GX_GENERAL" value="/pdaexpress/estados/setEGRALErrorGX.action"/>
        <add key="API_SET_RETRY3_GENERAL" value="/pdaexpress/estados/setEGRALReintentar3.action"/>

        <!-- INFORMAR -->
        <add key="CONTROL_PRECIOS_CON_UBICACIONES" value="CTRUBIC"/>
        <add key="CONTROL_PRECIOS_SIN_UBICACIONES" value="CTRSUBIC"/>
        <add key="AJUSTES" value="AJUSTES"/>
        <add key="RECEPCIONES" value="RECEP"/>
        <add key="IMPRESION_ETIQUETAS" value="IMPETIQ"/>
        <!-- DESCARGA -->
        <add key="ARTICULOS" value="ART"/>
        <add key="UBICACIONES" value="UBIC"/>
        <add key="UBICACION_ARTICULOS" value="UBICART"/>
        <add key="PEDIDOS" value="PEDIDOS"/>
        <add key="TIPOS_ETIQUETAS" value="TETIQ"/>
        <add key="TIPOS_AJUSTES" value="TAJUS"/>
        <!-- DEVOLUCIONES -->
        <add key="PROVEEDORES" value="PROVEED"/>
        <add key="PROVEEDOR_ARTICULOS" value="PROVART"/>
        <add key="MOTIVO_DEVOLUCION" value="MOTIDEV"/>
        <!-- DEVICE -->
        <add key="DEVICE_RELPATH_BIN" value="/PDAExpress"/>
        <add key="DEVICE_RELPATH_DATA" value="/PDAExpress/Data"/>
        <add key="DEVICE_RELPATH_LOOKUP" value="/PDAExpress/LookUp"/>
        <add key="DEVICE_RELPATH_PROGRAM" value="/PDAExpress"/>
        <add key="DEVICE_RELPATH_FILENAME" value="PDAMoto.exe"/>
        <!-- CLIENT -->
        <add key="PUBLIC_PATH_BIN" value="%PUBLIC%/Documents/PDA Desktop Application/bin"/>
        <add key="PUBLIC_PATH_DATA" value="%PUBLIC%/Documents/PDA Desktop Application/data"/>
        <add key="PUBLIC_PATH_LOOKUP" value="%PUBLIC%/Documents/PDA Desktop Application/LookUp"/>
        <add key="PUBLIC_PATH_PROGRAM" value="%PUBLIC%/Documents/PDA Desktop Application"/>
        <add key="PUBLIC_PATH_FILENAME" value="/PDAMoto.exe"/>
        <!-- DAT FILE -->
        <add key="DAT_FILE_CONTROL_DE_PRECIOS_CON_UBICACIONES" value="/CTRUBIC.DAT"/>
        <add key="DAT_FILE_CONTROL_PRECIOS_SIN_UBICACIONES" value="/CTRSUBIC.DAT"/>
        <add key="DAT_FILE_AJUSTES" value="/AJUSTES.DAT"/>
        <add key="DAT_FILE_RECEPCIONES" value="/RECEP.DAT"/>
        <add key="DAT_FILE_IMPRESION_ETIQUETAS" value="/IMPETIQ.DAT"/>
        <add key="DAT_FILE_DEFAULT" value="/DEFAULT.DAT"/>
        <add key="DAT_FILE_ARTICULOS" value="/ART.DAT"/>
        <add key="DAT_FILE_UBICACIONES" value="/UBIC.DAT"/>
        <add key="DAT_FILE_UBICACION_ARTICULOS" value="/UBICART.DAT"/>
        <add key="DAT_FILE_PEDIDOS" value="/PEDIDOS.DAT"/>
        <add key="DAT_FILE_LPEDIDOS" value="/LPEDIDOS.DAT"/>
        <add key="DAT_FILE_APEDIDOS" value="/APEDIDOS.DAT"/>
        <add key="DAT_FILE_EPEDIDOS" value="/EPEDIDOS.DAT"/>
        <add key="DAT_FILE_RPEDIDOS" value="/RPEDIDOS.DAT"/>
        <add key="DAT_FILE_TIPOS_ETIQUETAS" value="/TETIQ.DAT"/>
        <add key="DAT_FILE_TIPOS_AJUSTES" value="/TAJUS.DAT"/>

        <add key="DESKTOP_FOLDER" value="%USERPROFILE%/Desktop/PDATest"/>
        <add key="URL_COOKIE" value="%APPDATA%/Imagosur/PDADesktop/Data/"/>
    </appSettings>
</configuration>